ADMIN_USERNAME=root
ADMIN_PASSWORD=root

# PostgreSQL
SPRING_DATASOURCE_URL=jdbc:postgresql://master_postgres/postgres
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=password
SPRING_PROFILES_ACTIVE=dev

# Server
SERVER_PORT=8080

# HMAC
HMAC_KEY=6B3f4pJZ1aY8fR4+zTqJY1C0JQ8Fn+2kjkFq8R9bN7g=

# JWT
JWT_ACCESS_SECRET=fe36efc1dc7ed4e847bba155b7932318f2729c68428c891f90de21849851aa4a
JWT_ACCESS_EXPIRATION=600000
JWT_REFRESH_SECRET=fe36efc1dc7ed4e847bba155b7932318f2729c68428c891f90de21849851aa4a
JWT_REFRESH_EXPIRATION=604800000
